@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}

.text-yellow {
  color: #F3DF4A;
}

.text-purple {
  color: #6868AC;
}

.text-fuchsia {
  color: #972472;
}

.text-regular {
  font-family: 'League Spartan';
  font-weight: 400;
}	

.text-medium {
  font-family: 'League Spartan';
  font-weight: 500;
}	

.text-bold {
  font-family: 'League Spartan';
  font-weight: 700;
}

.header .logo-container {
  align-items: center;
  background-color: #972472;
  display: flex;
  height: 75px;
}

.header {
  margin-bottom: 45px;
}

.hero {
  background: url('../img/hero.jpg') no-repeat center center;
  height: 770px;
  padding: 13px 0;
  position: relative;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.hero .text-purple {
  font-size: 50px;
  width: 144px;
}

.hero .text-yellow {
  align-self: end;
  font-size: 40px;
  text-align: right;
  width: 190px;
}

.hero .violet-star {
  position: absolute;
  right: 44px;
  top: 88px;
  width: 42px;
}

.main {
  background: #6868AC;
}

.strategy {
  background: #ffffff;
  margin-bottom: 48px;
  padding-bottom: 36px;
}

.title-container {
  margin: 0 auto 56px auto;
  position: relative;
  width: 165px;
}

.title-container h2 {
  color: #972472;
  font-size: 36px;
  text-align: center;
}

.icon {
  position: absolute;
}

.title-container .icon.stars {
  right: -18px;
  top: -18px;
}

.title-container .icon.moom {
  left: -40px;
  top: -24px;
  width: 26px;
}

.title-container .icon.single-star {
  left: -20px;
  top: 25px;
}

.strategies-container {
  display: grid;
  grid-gap: 91px;
}

.strategy-item {
  align-items: center;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: auto 128px;
  position: relative;
}

.strategy-item .leaf {
  bottom: 10px;
  height: 69px;
  right: -25px;
}

.strategy-item .diamond {
  bottom: -50px;
  height: 21px;
  left: 50vw;
}

.strategy-item .spiral-rose {
  right: 0;
  top: -40px;
  width: 22.73px;
}
.strategy-item:nth-child(even) {
  grid-gap: 40px;
  grid-template-columns: 128px auto;
}

.strategy-item:nth-child(even) .text-container {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.strategy-item .text-container .text-yellow {
  font-size: 25px;
  margin-bottom: 13px;
  width: 125px;
}

.strategy-item:nth-child(even) .text-container .text-yellow {
  justify-self: end;
  text-align: end;
}

.strategy-item .text-container .text-fuchsia {
  font-size: 15px;
  line-height: 14px;
  text-align: justify;
}

.ayuda {
  margin-bottom: 51px;
  position: relative;
}

.ayuda .spiral {
  left: 22px;
  top: -37px;
  width: 16px;
}

.ayuda .violet-star {
  left: 10vw;
  top: 55%;
  width: 15px;
}

.ayuda .violet-leaf {
  height: 64px;
  right: 0;
  top: 80%;
}

.ayuda .green-leaf {
  height: 45.5px;
  left: 0;
  top: 145%;
}

.ayuda > .container > .text-yellow {
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 23px;
  text-align: center;
}

.ayuda .ayuda-item {
  margin: 0 auto 22px auto;
  text-align: center;
  width: 240px;
}

.ayuda .ayuda-item .text-container {
  color: #ffffff;
}

.ayuda .ayuda-item > img {
  margin-bottom: 18px;
}

.ayuda .ayuda-item .text-yellow {
  font-size: 20px;
  line-height: 18px;
  margin: 0 auto 10px auto;
  text-align: center;
  width: 117px;
}

.partners > .container > h2.text-yellow {
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 48px;
  text-align: center;
}

.partners .partners-container {
  align-items: center;
  display: grid;
  grid-column-gap: 59px;
  grid-row-gap: 45px;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  margin-bottom: 33px;
}

.partners .partners-container .partner-club {
  grid-column: 1 / 3;
  justify-self: center;
}

.partners p.text-yellow {
  font-size: 20px;
  line-height: 18px;
  margin: 0 auto 36px auto;
  text-align: center;
  width: 325px;
}

.contacto {
  margin-bottom: 58px;
}

.contacto > .container > .text-yellow {
  font-size: 28px;
  line-height: 26px;
  margin-bottom: 14px;
  text-align: center;
}

.form-contacto .contacto-item label {
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 5px;
}

.form-contacto .contacto-item input {
  border-radius: 10px;
  border: none;
  font-size: 20px;
  height: 60px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.form-contacto > input {
  background: #F3DF4A;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #6868AC;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  outline: none;
  transition: opacity .3s ease-in-out;
  width: 100%;
} 

.form-contacto > input:hover {
  opacity: .7;
}

.canales {
  padding-bottom: 73px;
}

.canales .container h2.text-yellow {
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.socials-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 58px;
}

.socials-container .social-item {
  color: #ffffff;
  display: grid;
  grid-row-gap: 17px;
  justify-items: center;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.socials-container .social-item:hover {
  opacity: .5;
}

.socials-container .social-item i {
  font-size: 48px;
}

.socials-container .social-item span {
  font-size: 18px;
  line-height: 17px;
}

.footer {
  background: #F3DF4A;
  padding: 30px 0 10px;
}

.footer > .container {
  align-items: center;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.footer-data .text {
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-data .text > p {
  margin-bottom: 3px;
}

.footer-data .text:last-of-type {
  margin-bottom: 30px;
}

.footer-data > span {
  font-size: 10px;
}